<configuration>
  <connectionStrings>
    <add name="ServerConnectionString" connectionString="Data Source=.;Initial Catalog=;Integrated Security=True" providerName="Rhetos.MsSql"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
