#apui_widget
{
    margin: 0px;
    padding: 15px;
}

#apui_widget #apui_widget_head
{
    border-bottom: 1px solid #EEE;
    margin: 0px 0px 15px 0px;
}

#apui_widget #apui_widget_head h2
{
    color: #FFA610;
    margin: 0px;
    padding: 0px 0px 15px 0px;
}

#apui_widget #apui_widget_head h2 img
{
    height: 24px;
    width: 24px;
    margin-right: 10px;   
}

#apui_widget #apui_widget_start
{
    padding: 10px;
    width: 600px;
    margin-top: 5px;
}

#apui_widget #apui_widget_start h2
{
    color: #FFA610;
}

#apui_widget #apui_principals h3
{
    color: #6B96C6;
    margin: 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#apui_widget #apui_principals
{
    border-right: 1px solid #EFEBEF;
    margin-right: 15px;
    min-width: 250px;
    padding-right: 10px;
}

#apui_widget #apui_principals ul
{
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#apui_widget #apui_principals ul li
{
    margin: 0px;
    margin-top: 5px;
    font-size: 1.0em;
}

#apui_widget #apui_principals ul li button
{
    width: 100%;
}

#apui_widget #apui_permissions
{
    border: 1px solid #EFEBEF;
    padding: 10px;
    text-align: right;
}

#apui_widget #apui_permissions #close
{
    display: inline-block;   
    cursor: pointer;
    margin-bottom: 5px;
}

#apui_widget #apui_permissions #apui_permissions_head
{
    text-align: left;
}

#apui_widget #apui_permissions_head #principal_name
{
    font-size: x-large;    
    font-weight: bold;
}

#apui_permissions #filterQuery 
{
    margin-top: 10px;    
    margin-bottom: 10px; 
    padding: 5px 0px 5px 5px;
}

#apui_widget #apui_permissions_head h2
{
    color: #FFA610;
    text-align: left;
    padding: 10px;
}

#apui_widget #apui_permissions table
{
    text-align: left;
    border: 1px solid #EFEBEF;
    width: 100%;
}

#apui_widget #apui_permissions table thead tr
{
    background-color: #6B96C6;
    color: #FFFFFF;
}

#apui_widget #apui_permissions table thead tr th
{
    padding: 8px;
    cursor: pointer;
}

#apui_widget #apui_permissions table tbody tr
{
    background-color: #EFEBEF;
}

#apui_widget #apui_permissions table tbody tr td
{
    padding: 5px;
    color: #333;
    vertical-align: top;
}

.inline-block
{
    display: inline-block;
    vertical-align: top;
}
