body
{
    background-color: #4a7194;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: small;
    margin: 10px;
}

#premissions-ui
{
    border: 1px solid #bdc7ce;
    background-color: #ffffff;
    width: 100%;
}
