<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <roleManager enabled="true" />
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
  </system.web>

</configuration>