<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">
  <targets>
    <target name="ConsoleLog" xsi:type="ColoredConsole" layout="[${level}] ${logger}: ${message}">
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="NoChange" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" backgroundColor="NoChange"/>
    </target>
    <target name="MainLog" xsi:type="File" fileName="${basedir}\..\Logs\RhetosCli.log" encoding="utf-8" archiveFileName="${basedir}\..\Logs\Archives\RhetosCli {#####}.zip" enableArchiveFileCompression="true" archiveAboveSize="2000000" archiveNumbering="DateAndSequence" />
    <target name="PerformanceLog" xsi:type="AsyncWrapper" overflowAction="Block">
      <target name="PerformanceLogBase" xsi:type="File" fileName="${basedir}\..\Logs\RhetosCliPerformance.log" encoding="utf-8" deleteOldFileOnStartup="true"/>
    </target>
    <target name="TraceLog" xsi:type="AsyncWrapper" overflowAction="Block">
      <target name="TraceLogBase" xsi:type="File" fileName="${basedir}\..\Logs\RhetosCliTrace.log" encoding="utf-8" deleteOldFileOnStartup="true"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minLevel="Info" writeTo="ConsoleLog"/>
    <logger name="*" minLevel="Info" writeTo="MainLog"/>
    <logger name="DatabaseGeneratorChanges" level="Trace" writeTo="MainLog"/>
    <logger name="Performance*" minLevel="Trace" writeTo="PerformanceLog"/>
    <!-- <logger name="*" minLevel="Trace" writeTo="TraceLog"/> -->
  </rules>
</nlog>
