<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestCfgValue" value="99"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=test;Initial Catalog=testdb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" name="TestConnectionString" />
  </connectionStrings>
</configuration>
