<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="SqlCommandTimeout" value="0" />
  </appSettings>

  <connectionStrings configSource="ConnectionStrings.config" />

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins"/>
    </assemblyBinding>
  </runtime>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <targets>
      <target name="MainLog" xsi:type="File" fileName="${basedir}\DeployPackages.log" encoding="utf-8"/>
      <target xsi:type="AsyncWrapper" name="asyncWrapper" timeToSleepBetweenBatches="200" batchSize="200" overflowAction="Block">
        <target name="TraceLog" xsi:type="File" fileName="${basedir}\DeployPackagesTrace.log" encoding="utf-8" deleteOldFileOnStartup="true"/>
      </target>
      <target name="KeywordsLog" xsi:type="File" fileName="${basedir}\DeployPackagesKeywords.log" encoding="utf-8" deleteOldFileOnStartup="true"/>
      <target name="PerformanceLog" xsi:type="File" fileName="${basedir}\DeployPackagesPerformance.log" encoding="utf-8" deleteOldFileOnStartup="true"/>
      <target name="DslModelConceptsLog" xsi:type="File" fileName="${basedir}\DeployPackagesDslModel.log" encoding="utf-8" deleteOldFileOnStartup="true"/>
      <target name="MacroEvaluatorsOrderLog" xsi:type="File" fileName="${basedir}\DeployPackagesMacroEvaluatorsOrder.log" encoding="utf-8" deleteOldFileOnStartup="true"/>
      <target name="ConsoleLog" xsi:type="ColoredConsole" layout="[${level}] ${logger}: ${message}">
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="Black"/>
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Yellow" backgroundColor="Black"/>
        <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" backgroundColor="Black"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minLevel="Info" writeTo="MainLog"/>
      <logger name="ClaimGenerator Claims" level="Trace" writeTo="MainLog"/>
      <logger name="DatabaseGenerator Concepts" level="Trace" writeTo="MainLog"/>
      <logger name="DslParser.Keywords" minLevel="Trace" writeTo="KeywordsLog"/>
      <!-- <logger name="DslModelConcepts" minLevel="Trace" writeTo="DslModelConceptsLog"/> -->
      <logger name="DslModelConcepts" level="Trace" final="true"/>
      <!-- <logger name="MacroEvaluatorsOrder" minLevel="Trace" writeTo="MacroEvaluatorsOrderLog"/> -->
      <!-- <logger name="*" minLevel="Trace" writeTo="TraceLog"/> -->
      <logger name="Performance" minLevel="Trace" writeTo="PerformanceLog"/>
      <logger name="*" minLevel="Info" writeTo="ConsoleLog" />
      <logger name="DeployPackages" level="Trace" writeTo="ConsoleLog"/>
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>