<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="PluginsSearch" value="Plugins" />
    <add key="SqlCommandTimeout" value="600" />
  </appSettings>

  <connectionStrings configSource="ConnectionStrings.config" />

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins"/>
    </assemblyBinding>
  </runtime>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <targets>
      <target name="MainLog" xsi:type="File" fileName="${basedir}\DeployPackages.log" encoding="utf-8"/>
      <target name="TraceLog" xsi:type="File" fileName="${basedir}\DeployPackagesTrace.log" encoding="utf-8" deleteOldFileOnStartup="true"/>
      <target name="KeywordsLog" xsi:type="File" fileName="${basedir}\DeployPackagesKeywords.log" encoding="utf-8" deleteOldFileOnStartup="true"/>
      <target name="PerformanceLog" xsi:type="File" fileName="${basedir}\DeployPackagesPerformance.log" encoding="utf-8" deleteOldFileOnStartup="true"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Info" writeTo="MainLog"/>
      <logger name="DslParser" minLevel="Trace" writeTo="KeywordsLog">
        <when condition="starts-with('${message}','DSL keywords')" action="Log"/>
      </logger>
      <!--logger name="*" minLevel="Trace" writeTo="TraceLog" /-->
      <logger name="Performance" minLevel="Trace" writeTo="PerformanceLog"/>
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>