<?xml version="1.0" encoding="UTF-8"?>

<!-- PUT "ConnectionStrings.config" FILE IN "bin" FOLDER. -->

<connectionStrings>
  <add connectionString="Data Source=theServer;Initial Catalog=theDatabase;Integrated Security=SSPI;" name="ServerConnectionString" providerName="Rhetos.MsSql" />
  <!--add connectionString="User Id=Rhetos;Password=thePassword;Data Source=localhost:1521/xe;" name="ServerConnectionString" providerName="Rhetos.Oracle.GENERIC_M_CI" /-->
</connectionStrings>
