<?xml version="1.0" encoding="UTF-8"?>
<connectionStrings>
  <add connectionString="Data Source=ENTER_SQL_SERVER_NAME;Initial Catalog=ENTER_RHETOS_DATABASE_NAME;Integrated Security=SSPI;" name="ServerConnectionString" />
  <!--add connectionString="User Id=Rhetos;Password=thePassword;Data Source=localhost:1521/xe;" name="ServerConnectionString" /-->
</connectionStrings>
