<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofacComponents" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" />
  </configSections>
  <appSettings file="ExternalAppSettings.config">
    <add key="BuiltinAdminOverride" value="True" />
    <add key="SqlCommandTimeout" value="30" />
    <add key="AuthorizationCacheExpirationSeconds" value="30" />
    <add key="AuthorizationAddUnregisteredPrincipals" value="False" />
    <add key="Security.LookupClientHostname" value="False" />
    <add key="Security.AllClaimsForUsers" value="" />
    <add key="EntityFramework.UseDatabaseNullSemantics" value="False" />
    <add key="DataMigration.SkipScriptsWithWrongOrder" value="False" />
    <add key="CommonConcepts.Legacy.AutoGeneratePolymorphicProperty" value="False" />
  </appSettings>
  <connectionStrings configSource="bin\ConnectionStrings.config" />
  <entityFramework>
  <queryCache size="10000" cleaningIntervalInSeconds="60" />
  </entityFramework>
  <autofacComponents>
    <modules>
      <module type="Rhetos.DefaultAutofacConfiguration, Rhetos" />
    </modules>
  </autofacComponents>
  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="MainLog" xsi:type="File" fileName="${basedir}\Logs\RhetosServer.log" encoding="utf-8" archiveFileName="${basedir}\Logs\Archives\RhetosServer {#####}.zip" enableArchiveFileCompression="true" archiveAboveSize="2000000" archiveNumbering="DateAndSequence" />
      <target name="ConsoleLog" xsi:type="Console" />
      <target name="TraceLog" xsi:type="AsyncWrapper" overflowAction="Block">
        <target name="TraceLogBase" xsi:type="File" fileName="${basedir}\Logs\RhetosServerTrace.log" encoding="utf-8" archiveFileName="${basedir}\Logs\Archives\RhetosServerTrace {#####}.zip" enableArchiveFileCompression="true" archiveAboveSize="10000000" archiveNumbering="DateAndSequence" />
      </target>
      <target name="TraceCommandsXml" xsi:type="AsyncWrapper" overflowAction="Block">
        <target name="TraceCommandsXmlBase" xsi:type="File" fileName="${basedir}\Logs\RhetosServerCommandsTrace.xml" encoding="utf-16" layout="&lt;!--${longdate} ${logger}-->${newline}${message}" archiveFileName="${basedir}\Logs\Archives\RhetosServerCommandsTrace {#####}.zip" enableArchiveFileCompression="true" archiveAboveSize="10000000" archiveNumbering="DateAndSequence" />
      </target>
      <target name="PerformanceLog" xsi:type="AsyncWrapper" overflowAction="Block">
        <target name="PerformanceLogBase" xsi:type="File" fileName="${basedir}\Logs\RhetosServerPerformance.log" encoding="utf-8" archiveFileName="${basedir}\Logs\Archives\RhetosServerPerformance {#####}.zip" enableArchiveFileCompression="true" archiveAboveSize="10000000" archiveNumbering="DateAndSequence" />
      </target>
    </targets>
    <rules>
      <logger name="*" minLevel="Info" writeTo="MainLog" />
      <!-- <logger name="*" minLevel="Info" writeTo="ConsoleLog" /> -->
      <!-- <logger name="*" minLevel="Trace" writeTo="TraceLog" /> -->
      <!-- <logger name="ProcessingEngine Request" minLevel="Trace" writeTo="ConsoleLog" /> -->
      <!-- <logger name="ProcessingEngine Request" minLevel="Trace" writeTo="TraceLog" /> -->
      <!-- <logger name="ProcessingEngine Commands" minLevel="Trace" writeTo="TraceCommandsXml" /> -->
      <!-- <logger name="ProcessingEngine CommandsResult" minLevel="Trace" writeTo="TraceCommandsXml" /> -->
      <!-- <logger name="ProcessingEngine CommandsWithClientError" minLevel="Trace" writeTo="TraceCommandsXml" /> -->
      <logger name="ProcessingEngine CommandsWithServerError" minLevel="Trace" writeTo="TraceCommandsXml" />
      <!-- <logger name="ProcessingEngine CommandsWithServerError" minLevel="Trace" writeTo="MainLog" /> -->
      <!-- <logger name="Performance" minLevel="Trace" writeTo="PerformanceLog" /> -->
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin\Plugins;bin\Generated" />
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <httpRuntime targetFramework="4.5.1" maxUrlLength="2097151" maxRequestLength="2097151" maxQueryStringLength="2097151" />
    <compilation debug="true" targetFramework="4.5.1" />
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="4.5" />
    <sessionState mode="Off" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ErrorLogging" type="Rhetos.Web.ErrorHandlerBehavior, Rhetos.Web" />
        <add name="JsonError" type="Rhetos.Web.JsonErrorBehaviorExtension, Rhetos.Web" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Rhetos.RhetosService">
        <clear />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="rhetosBasicHttpBinding" name="basic" contract="Rhetos.IServerApplication" listenUriMode="Explicit">
          <identity>
            <dns value="localhost" />
            <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName" />
          </identity>
        </endpoint>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="rhetosBasicHttpBinding" maxReceivedMessageSize="104857600">
          <readerQuotas maxArrayLength="104857600" maxStringContentLength="104857600" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="rhetosWebHttpBinding" maxReceivedMessageSize="104857600">
          <readerQuotas maxArrayLength="104857600" maxStringContentLength="104857600" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <ErrorLogging />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <directoryBrowse enabled="false" />
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="2097151" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <!--Uncomment elements bellow to enable Cross Origin Resource Sharing and set domain name in Access-Control-Allow-Origin-->
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, Accept" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
</configuration>