<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <section name="autofacComponents" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <appSettings>
    <add key="PluginsSearch" value="bin\Plugins, bin\Generated, bin\ServerDom.dll" />
    <add key="ResourcesDirectory" value="Resources" />
    <add key="BuiltinAdminOverride" value="True" />
  </appSettings>

  <connectionStrings configSource="bin\ConnectionStrings.config" />
  
  <autofacComponents>
    <modules>
      <module type="Rhetos.DefaultAutofacConfiguration, Rhetos" />
      <module type="Rhetos.Security.Service.DefaultAutofacConfiguration, Rhetos.Security.Service" />
    </modules>
  </autofacComponents>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <targets>
      <target name="MainLog" xsi:type="File" fileName="${basedir}\RhetosServer.log" encoding="utf-8" />
      <target name="TraceLog" xsi:type="File" fileName="${basedir}\RhetosServerTrace.log" encoding="utf-8" />
      <target name="TraceCommandsXml" xsi:type="File" fileName="${basedir}\RhetosServerCommandsTrace.xml" encoding="utf-8" layout="&lt;!--${longdate} ${logger}-->${newline}${message}" header="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?>${newline}&lt;Log>" footer="&lt;/Log>" />
      <target name="PerformanceLog" xsi:type="File" fileName="${basedir}\RhetosServerPerformance.log" encoding="utf-8" />
    </targets>
    <rules>
      <logger name="*" minLevel="Info" writeTo="MainLog" />
      <!--logger name="*" minLevel="Trace" writeTo="TraceLog" /-->
      <!--logger name="IServerApplication Commands" minLevel="Trace" writeTo="TraceCommandsXml" /-->
      <!--logger name="IServerApplication CommandResults" minLevel="Trace" writeTo="TraceCommandsXml" /-->
      <!--logger name="Performance" minLevel="Trace" writeTo="PerformanceLog" /-->
    </rules>
  </nlog>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin\Plugins;bin\Generated" />
    </assemblyBinding>
  </runtime>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <machineKey decryptionKey="82D9A54C881A682EEC16903733903F50A3FAB34DDEC384D2,IsolateApps" validationKey="C8F581A874F154E9E281922D09801A65F09387AEC223813B894B78CAECED67DDAC7051748F97B44669BAD9C5D33B337DEECF6A51364664FAEAFE60E5F4435E9B,IsolateApps" />
  </system.web>

  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ErrorLogging" type="Rhetos.ErrorHandlerBehavior, Rhetos" />
        <add name="JsonError" type="Rhetos.JsonErrorBehaviorExtension, Rhetos" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Rhetos.RhetosService">
        <clear />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="rhetosBasicHttpBinding" name="basic" contract="Rhetos.IServerApplication" listenUriMode="Explicit">
          <identity>
            <dns value="localhost" />
            <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName" />
          </identity>
        </endpoint>
      </service>
      <service name="Rhetos.Security.Service.SecurityRestService" behaviorConfiguration="SecurityRestServiceBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="rhetosWebHttpBinding" contract="Rhetos.Security.Service.ISecurityRestService" behaviorConfiguration="webHttp"></endpoint>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost/Rhetos/RhetosService.svc" binding="basicHttpBinding" bindingConfiguration="rhetosBasicHttpBinding" contract="Rhetos.IServerApplication"></endpoint>
    </client>
    <bindings>      
      <basicHttpBinding>
        <binding name="rhetosBasicHttpBinding" maxReceivedMessageSize="104857600">
          <readerQuotas maxStringContentLength="104857600" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      
      <webHttpBinding>
        <binding name="rhetosWebHttpBinding" maxReceivedMessageSize="104857600">
          <readerQuotas maxArrayLength="104857600" maxStringContentLength="104857600" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <ErrorLogging />
        </behavior>
        <behavior name="SecurityRestServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization impersonateCallerForAllOperations="true" />
          <ErrorLogging />
        </behavior>
        <behavior name="RestServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <ErrorLogging />
          <JsonError />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <add relativeAddress="SecurityRestService.svc" service="Rhetos.Security.Service.SecurityRestService, Rhetos.Security.Service" factory="Autofac.Integration.Wcf.AutofacServiceHostFactory, Autofac.Integration.Wcf" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    <!--Uncomment elements bellow to enable Cross Origin Resource Sharing and set domain name in Access-Control-Allow-Origin-->
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, Accept" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  
</configuration>