<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Rhetos:Database:SqlCommandTimeout" value="31"/>
    <add key="TestSection:AdditionalTestSetting" value="TestSettingValue"/>
    <add key="TestSection.OldDotConvention" value="DotDot"/>
    <add key="Path" value="relative\apptest.json" />
    <add key="PathConvert" value="relative\apptestc.json"/>
    <add key="SeparatorTest.SomeConfigurationKey" value="OriginalValue" />
    <add key="MixedPathTest.Legacy.AutoGeneratePolymorphicProperty" value="MixedPathValue" />
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config"/>
</configuration>