<?xml version="1.0" encoding="utf-8"?>
<sources>

  <!--
    Set the 'location' attribute to download packages form a nuget package gallery or a simple folder with Rhetos packages.
  -->

  <!-- NuGet online gallery -->
  <source location="https://www.nuget.org/api/v2/" />

  <!-- Local folder -->
  <!--<source location="..\Packages" />-->

</sources>
